In [8]:
import pandas as pd
import pyarrow.parquet as pq

# Load data from .parquet file
table = pq.read_table('5414471.parquet')
df = table.to_pandas()
# Display the first few rows of the DataFrame
print("First few rows of the DataFrame:")
print(df.head())

# You can also display summary statistics or information about the DataFrame
print("\nSummary statistics:")
print(df.describe())

First few rows of the DataFrame:
             frame  x_face_0  x_face_1  x_face_2  x_face_3  x_face_4  \
sequence_id
1816796431       0  0.710588  0.699951  0.705657  0.691768  0.699669
1816796431       1  0.709525  0.697582  0.703713  0.691016  0.697576
1816796431       2  0.711059  0.700858  0.706272  0.693285  0.700825
1816796431       3  0.712799  0.702518  0.707840  0.694899  0.702445
1816796431       4  0.712349  0.705451  0.709918  0.696006  0.705180

             x_face_5  x_face_6  x_face_7  x_face_8  ...  z_right_hand_11  \
sequence_id                                          ...
1816796431   0.701980  0.709724  0.610405  0.712660  ...        -0.245855
1816796431   0.700467  0.709796  0.616540  0.713729  ...              NaN
1816796431   0.703319  0.711549  0.615606  0.715143  ...              NaN
1816796431   0.704794  0.712483  0.625044  0.715677  ...        -0.370770
1816796431   0.706928  0.712685  0.614356  0.714875  ...              NaN

             z_right_hand_12  z_right_hand_13  z_right_hand_14  \
sequence_id
1816796431         -0.269148        -0.129743        -0.251501
1816796431               NaN              NaN              NaN
1816796431               NaN              NaN              NaN
1816796431         -0.408097        -0.185217        -0.325494
1816796431               NaN              NaN              NaN

             z_right_hand_15  z_right_hand_16  z_right_hand_17  \
sequence_id
1816796431         -0.278687        -0.266530        -0.152852
1816796431               NaN              NaN              NaN
1816796431               NaN              NaN              NaN
1816796431         -0.343373        -0.328294        -0.203126
1816796431               NaN              NaN              NaN

             z_right_hand_18  z_right_hand_19  z_right_hand_20
sequence_id
1816796431         -0.257519        -0.275822        -0.266876
1816796431               NaN              NaN              NaN
1816796431               NaN              NaN              NaN
1816796431         -0.315719        -0.326104        -0.314282
1816796431               NaN              NaN              NaN

[5 rows x 1630 columns]

Summary statistics:
               frame       x_face_0       x_face_1       x_face_2  \
count  162699.000000  161429.000000  161429.000000  161429.000000
mean      104.991487       0.551406       0.545565       0.548487
std        83.121058       0.133334       0.130423       0.132162
min         0.000000       0.120254       0.115530       0.117442
25%        42.000000       0.484504       0.480162       0.482202
50%        87.000000       0.574117       0.565919       0.569952
75%       148.000000       0.642316       0.634938       0.639120
max       671.000000       1.026007       1.025661       1.024647

            x_face_3       x_face_4       x_face_5       x_face_6  \
count  161429.000000  161429.000000  161429.000000  161429.000000
mean        0.533842       0.545150       0.545956       0.548968
std         0.131818       0.130316       0.131002       0.133459
min         0.103802       0.116260       0.118838       0.114555
25%         0.468362       0.479697       0.480077       0.481865
50%         0.554591       0.565244       0.566173       0.569839
75%         0.624151       0.634448       0.635781       0.640888
max         1.006512       1.026306       1.025791       1.030638

            x_face_7       x_face_8  ...  z_right_hand_11  z_right_hand_12  \
count  161429.000000  161429.000000  ...     75667.000000     75667.000000
mean        0.444224       0.549550  ...        -0.130883        -0.139554
std         0.137102       0.134447  ...         0.067229         0.073195
min        -0.042329       0.107728  ...        -0.730576        -0.839367
25%         0.379511       0.481879  ...        -0.160982        -0.171967
50%         0.467836       0.570198  ...        -0.118555        -0.126023
75%         0.534999       0.642407  ...        -0.087692        -0.091531
max         0.899240       1.034567  ...         0.593518         0.597078

       z_right_hand_13  z_right_hand_14  z_right_hand_15  z_right_hand_16  \
count     75667.000000     75667.000000     75667.000000     75667.000000
mean         -0.065785        -0.124285        -0.134076        -0.127981
std           0.045118         0.059881         0.064473         0.070769
min          -0.410743        -0.612514        -0.714748        -0.795050
25%          -0.085930        -0.153305        -0.164556        -0.161186
50%          -0.057009        -0.114279        -0.122720        -0.116223
75%          -0.035766        -0.084950        -0.091023        -0.079437
max           0.380028         0.520627         0.516491         0.495606

       z_right_hand_17  z_right_hand_18  z_right_hand_19  z_right_hand_20
count     75667.000000     75667.000000     75667.000000     75667.000000
mean         -0.084406        -0.128272        -0.131783        -0.125463
std           0.047416         0.058614         0.063734         0.069611
min          -0.470670        -0.631450        -0.733471        -0.812947
25%          -0.106767        -0.157643        -0.163131        -0.159357
50%          -0.075197        -0.118154        -0.121255        -0.114873
75%          -0.052443        -0.088737        -0.088506        -0.077527
max           0.369656         0.483710         0.505543         0.503390

[8 rows x 1630 columns]

In [9]:
df.shape

(162699, 1630)

In [10]:
df.columns

Index(['frame', 'x_face_0', 'x_face_1', 'x_face_2', 'x_face_3', 'x_face_4',
       'x_face_5', 'x_face_6', 'x_face_7', 'x_face_8',
       ...
       'z_right_hand_11', 'z_right_hand_12', 'z_right_hand_13',
       'z_right_hand_14', 'z_right_hand_15', 'z_right_hand_16',
       'z_right_hand_17', 'z_right_hand_18', 'z_right_hand_19',
       'z_right_hand_20'],
      dtype='object', length=1630)

In [11]:
df.head()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1816796431,0,0.710588,0.699951,0.705657,0.691768,0.699669,0.701980,0.709724,0.610405,0.712660,...,-0.245855,-0.269148,-0.129743,-0.251501,-0.278687,-0.266530,-0.152852,-0.257519,-0.275822,-0.266876
1816796431,1,0.709525,0.697582,0.703713,0.691016,0.697576,0.700467,0.709796,0.616540,0.713729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1816796431,2,0.711059,0.700858,0.706272,0.693285,0.700825,0.703319,0.711549,0.615606,0.715143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1816796431,3,0.712799,0.702518,0.707840,0.694899,0.702445,0.704794,0.712483,0.625044,0.715677,...,-0.370770,-0.408097,-0.185217,-0.325494,-0.343373,-0.328294,-0.203126,-0.315719,-0.326104,-0.314282
1816796431,4,0.712349,0.705451,0.709918,0.696006,0.705180,0.706928,0.712685,0.614356,0.714875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df['sequence_id'].value_counts()

sequence_id
1816796431    162699
Name: count, dtype: int64